extends layout

block content
  a(href='https://github.com/moremikesmith/blockchain-demo/')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Blockchain Demo
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='https://www.youtube.com/embed/_160oMzblY8')
    br
    p.pull-right by 
      a(href='https://www.linkedin.com/in/mikesmith80249/') Mike Smith 
      | 1Dg2Vvzys6CWzjozCyxz32KSmj4ZHRwpTX
    br
    br
    p.pull-right with a big hat tip to 
      a(href='http://andersbrownworth.com/') Anders Brownworth 
      | 1K3NvcuZzVTueHW1qhkG2Cm3viRkh2EXJp